@import url("./_varibales.scss");

header {
  background-color: $dark-color;
  color: $light-color;
  padding: 1rem;

  h1 {
    text-align: center;
  }
}

.section {
  padding: 3rem;
  h3 {
    font-size: 2rem;
  }
  //   section-a
  &-a {
    background-color: $primary-color;
    color: white;
  }
  &-b {
    background-color: $secondary-color;
    color: white;
  }
}

a {
  color: #333;
  &:hover {
    color: coral;
  }
}
